.actionbar-base {
  display: flex;
}

.left {
  flex-direction: row-reverse;
}

.right {
  flex-direction: row;

}

calcite-action-bar {
  min-width: 48px;
}

calcite-panel[dismissed] {
  width: 0;
}

calcite-panel:focus {
  outline: none;
}

calcite-panel {
  min-width: 0px;
  max-width: calc(100% - 48px);
  height: 100%;
  width: 350px;
  max-height: 100%;
}

#leftbar .maximize {
  display: none;
}


#rightbar.maximized {
  right: 48px;
  min-width: calc(100% - 96px);
  position: absolute;
  bottom: 0;
  top: 52.84px;
}
#rightbar.maximized calcite-panel{
  min-width: 100%;
}


#rightActionBar .tool {
  display: none;
}

calcite-tip-manager {
  max-width: 100%;
  width: 500px;
  height: 300px;
  position: absolute;
  z-index: 1000;
  top: 25%;
  left: 25%;
}

@media only screen and (max-width: 1000px) {
  #leftActionBar {
    display: none;
  }
  #leftPanel {
    display: none;
  }
  #rightActionBar .tool {
    display: block;
  }  
}