.actionbar-base {
  display: flex;
}

.left {
  flex-direction: row-reverse;
}

.right {
  flex-direction: row;

}

calcite-action-bar {
  min-width: 48px;
}

calcite-panel[dismissed] {
  width: 0;
}

calcite-panel {
  min-width: 0px;
  max-width: calc(100% - 48px);
  height: 100%;
  width: 350px;
  max-height: 100%;
}

#rightActionBar .tool {
  display: none;
}

@media only screen and (max-width: 1000px) {
  #leftActionBar {
    display: none;
  }
  #leftPanel {
    display: none;
  }
  #rightActionBar .tool {
    display: block;
  }  
}