.select-base {
  padding: 0;
}

.select-base .esri-sketch__section.esri-sketch__tool-section:nth-child(1) {
  display: none !important;
}
.select-base .esri-sketch__section.esri-sketch__tool-section:nth-child(3) {
  display: none !important;
}

#selectWidget {
  min-height: 44px;
}